$blue: #143FE4;
$blue-light: #006CFF;
$blue-lighter: #adcdfa;
$cyan: #00D9FF;
// $blue-lightest: #00D9FF;
$green: #84A07C;
$red: #D64045;
$yellow: #F4D06F;
$brown: #B4654A;
$white: #FAFAFA;
$orange: #FF8811;
$black: #3A3042;
$grey: #959595;